.THIS {
    position: relative;
}

.THIS .slds-card__body h1 {
    font-weight: 300;
    color: #0070D2;
    font-size: 28px;
    margin-top: 12px;
}

.THIS .slds-card__body h2 {
    font-weight: 300;
    color: #0070D2;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 12px;
}

.THIS .slds-card__body {
	height: 120px;
}

.THIS .slds-icon-standard-solution {
    background-color: transparent;
}

.THIS .slds-icon-standard-solution svg {
    fill: #54698D;
}

.THIS .select {
    color: #BBBAB9;
    padding-top: 50px;
}